<nav class="navbar-light bg-primary">
    <div class="container-fluid">
    <h2>Restaurent Record App</h2>
    <div class="d-flex">
        <button class="btn btn-success">Add Restaurent</button>
    </div>
    </div>
</nav>
<!--Jumbotron-->
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Restaurent Record Management</h1>
    <p class="col-md-8 fs-4">You can save Record of Restaurent</p>
</div>
</div>

<!-- Closed Jumbotron-->
<!--Table creation-->
<table class="table mt-4" >
    <thead>
        <tr>
            <th scope="col">Restaurent ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile No</th>
            <th scope="col">Address</th>
            <th scope="col">Service</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>King</td>
            <td>king@gmail.com</td>
            <td>1012456352</td>
            <td>noida</td>
            <td>Veg & Non Veg</td>
            <td>
                <button class="btn btn-info">Edit</button>&nbsp;
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>2</td>
            <td>Kumar</td>
            <td>Kumar@gmail.com</td>
            <td>1012456352</td>
            <td>Delhi</td>
            <td>Veg </td>
            <td>
                <button class="btn btn-info">Edit</button>&nbsp;
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>